.line_of_life{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    height: 0;
    background-color: #d3d3d3;
    border: 1px solid #d3d3d3;
}

.active_line_of_life{
    border: 1px solid gray;
}

.info_education{
    background-color: transparent;
    width: 100%;
    height: 85%;
}

.active_circle_life{
    cursor: pointer;
    position: relative;
    top: -9px;
    left: calc(100% - 6px);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #242526;
    outline: 2px solid #d3d3d3;
    border: 3px solid #242526;
}

.circle_life{
    cursor: pointer;
    position: relative;
    top: -9px;
    left: calc(100% - 6px);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #242526;
    outline: 2px solid #d3d3d3;
    border: 3px solid #242526;
}


.active_circle_of_life{
    outline: 2px solid gray;
    background-color: gray;
}

.container_circle_life{
    display: flex;
    width: 25%;
    height: 100%;
    border: 1px solid transparent;
}

.container_line_of_life{
    display: flex;
    align-items: center;
    width: 100%;
    height: 15%;
    background-color: transparent;
}

.text_life{
    margin: 10px 0 0 0;
}

.gray_text{
    color: gray;
    font-weight: bold;
}

.info_education_earlylife{
    border: 1px solid transparent;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    width: calc(100%-20px);
    height: 100%;
    background-color: transparent;
}

.info_education_highschool{
    border: 1px solid transparent;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -383px;
    display: flex;
    pointer-events: none;
    opacity: 0;
    width: calc(100%-20px);
    height: 100%;
    background-color: transparent;
}

.info_education_college{
    border: 1px solid transparent;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -383px;
    display: flex;
    pointer-events: none;
    opacity: 0;
    width: calc(100%-20px);
    height: 100%;
    background-color: transparent;
}

.fade_in{
    opacity: 1;
    pointer-events: auto;
    transition: opacity 250ms ease-in-out;
}
