@import "variables.css";

.container_all_projects{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: transparent;
}

.projects_name{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 150px;
    background-color: transparent;
}

.projects_details{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 10px 0 0 0;
    background-color: transparent;
}

.name{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
    margin: 10px;
    height: 100%;
    background-color: transparent;
}

.prev_button, .next_button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    color: var(--gray);
    background-color: var(--black);
    font-size: 25px;
    user-select: none;
    border-radius: 3px;
    cursor: pointer
}

.prev_button{
    padding: 2px 6px 6px 4px;
}

.next_button{
    padding: 2px 4px 6px 6px;
}

.prev_button:hover, .next_button:hover{
    opacity: 0.75;
}

.name_top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 80%;
    background-color: var(--black);
    color: var(--gray);
    border: 1px solid var(--black);
    border-bottom: 1px solid transparent;
}

.name_bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    background-color: transparent;
    color: var(--gray);
    border: 1px solid var(--black);
    user-select: none;
    cursor: pointer;
}

.img_projects{
    width: 55%;
    padding: 10px;
    background-color: var(--gray);
}

.default_details{
    display: none;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
}

.details_1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 90%;
}

.container_lang_bar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: transparent;
    margin: 10px;
}

.lang_bar_details1{
    display: flex;
    flex-direction: row;
    color: var(--gray);
    width: 50%;
    height: 10px;
    border: 1px solid var(--black);
    border-radius: 10px;
}

.history_lang_details1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: transparent;
    font-size: 12.5px;
    color: var(--gray);
    width: 100%;
    height: 40%;
}

.first_color_1{
    height: 100%;
    width: 40%;
    background-color: #4F5D95;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.second_color_1{
    height: 100%;
    width: 35%;
    background-color: #563d7c;
    border: 1px solid var(--gray);
    border-top: 0;
    border-bottom: 0;
}

.third_color_1{
    height: 100%;
    width: 25%;
    background-color: #f1e05a;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.circle_lang_details1_1{
    margin: 5px;
    width: 15px;
    height: 10px;
    border: 1px solid var(--black);
    border-radius: 100%;
    background-color: #4F5D95;
}

.circle_lang_details1_2{
    margin: 5px;
    width: 15px;
    height: 10px;
    border: 1px solid var(--black);
    border-radius: 100%;
    background-color: #563d7c;
}

.circle_lang_details1_3{
    margin: 5px;
    width: 15px;
    height: 10px;
    border: 1px solid var(--black);
    border-radius: 100%;
    background-color: #f1e05a;
}

/*#4F5D95*/
.info_details1{
    width: 70%;
    height: auto;
    font-size: 1rem;
    padding: 15px;
    text-align: center;
    background-color: var(--black);
}

.details_2{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 90%;
}

.details_3{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 90%;
}

.details_4{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 90%;
}

.details_5{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 90%;
}

.name_bottom_left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    border-right: 1px solid var(--black);
}

.name_bottom_right{
    text-decoration: none;
    color: var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5px 0 0 0;
    width: 50%;
    height: 100%;
}

.name_bottom_left:hover, .name_bottom_right:hover{
    opacity: 0.75;
}

.first_color_2{
    height: 100%;
    width: 60%;
    background-color: #4F5D95;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.second_color_2{
    height: 100%;
    width: 30%;
    background-color: #563d7c;
    border: 1px solid var(--gray);
    border-top: 0;
    border-bottom: 0;
}

.third_color_2{
    height: 100%;
    width: 10%;
    background-color: #f1e05a;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.first_color_3{
    height: 100%;
    width: 50%;
    background-color: #4F5D95;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.second_color_3{
    height: 100%;
    width: 40%;
    background-color: #563d7c;
    border: 1px solid var(--gray);
    border-top: 0;
    border-bottom: 0;
}

.third_color_3{
    height: 100%;
    width: 10%;
    background-color: #f1e05a;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.first_color_4{
    height: 100%;
    width: 100%;
    background-color: #f1e05a;
    border-radius: 10px;
}

.second_color_5{
    height: 100%;
    width: 30%;
    background-color: #563d7c;
    border: 1px solid var(--gray);
    border-top: 0;
    border-bottom: 0;
}

.first_color_5{
    height: 100%;
    width: 50%;
    background-color: #4F5D95;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.third_color_5{
    height: 100%;
    width: 20%;
    background-color: #f1e05a;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.second_color_6{
    height: 100%;
    width: 35%;
    background-color: #563d7c;
    border: 1px solid var(--gray);
    border-top: 0;
    border-bottom: 0;
}

.first_color_6{
    height: 100%;
    width: 35%;
    background-color: #4F5D95;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.third_color_6{
    height: 100%;
    width: 30%;
    background-color: #f1e05a;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.first_color_7{
    height: 100%;
    width: 100%;
    background-color: burlywood;
    border-radius: 10px;
}

.python{
    background-color: burlywood;
}

.deco{text-decoration: none;}

.blue{color: #1E90FF;}

#name1{
    display: flex;
}

#name2{
    display: flex;
}

#name3{
    display: flex;
}

#name4{
    display: flex;
}

#name5{
    display: none;
}

#name6{
    display: none;
}

#name7{
    display: none;
}

#name8{
    display: none;
}
