.container_all_skills{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.first_skill_page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.second_skill_page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.third_skill_page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.html_{
    display: flex;
    align-items: center;
    text-align: center;
    width: 30%;
    height: 30%;
    margin: 5px;
    background-color: #18191a;
    color: #d3d3d3;
    border: 2px solid #18191a;
}

.html_progress{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-overflow: ellipsis;
    height: 100%;
    animation: width_100 2.5s infinite;
    animation-iteration-count: 1;
    background-color: #1E90FF;
}

.css_progress{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    animation: width_100 2.5s infinite;
    animation-iteration-count: 1;
    background-color: #1E90FF;
}

.javascript_progress{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    animation: width_80 2.5s infinite;
    animation-iteration-count: 1;
    background-color: #1E90FF;
}

.database_progress{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    text-overflow: ellipsis;
    height: 100%;
    animation: width_80 2.5s infinite;
    animation-iteration-count: 1;
    background-color: #1E90FF;
}

.reactjs_progress{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    animation: width_50 2.5s infinite;
    animation-iteration-count: 1;
    background-color: #1E90FF;
}

.nodejs_progress{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    animation: width_50 2.5s infinite;
    animation-iteration-count: 1;
    background-color: #1E90FF;
}

.php_progress{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    text-overflow: ellipsis;
    height: 100%;
    animation: width_90 2.5s infinite;
    animation-iteration-count: 1;
    background-color: #1E90FF;
}

.c_progress{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    animation: width_90 2.5s infinite;
    animation-iteration-count: 1;
    background-color: #1E90FF;
}

.java_progress{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    animation: width_60 2.5s infinite;
    animation-iteration-count: 1;
    background-color: #1E90FF;
}

.container_soft_skills{
    display: none;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.vscode_progress{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    text-overflow: ellipsis;
    height: 100%;
    animation: width_90 2.5s infinite;
    animation-iteration-count: 1;
    background-color: #1E90FF;
}

.androidstudio_progress{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    animation: width_60 2.5s infinite;
    animation-iteration-count: 1;
    background-color: #1E90FF;
}

.vs_progress{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    animation: width_70 2.5s infinite;
    animation-iteration-count: 1;
    background-color: #1E90FF;
}

.photoshop_progress{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    animation: width_80 2.5s infinite;
    animation-iteration-count: 1;
    background-color: #1E90FF;
}

.intellij_progress{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    animation: width_50 2.5s infinite;
    animation-iteration-count: 1;
    background-color: #1E90FF;
}

.git_progress{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    animation: width_80 2.5s infinite;
    animation-iteration-count: 1;
    background-color: #1E90FF;
}

@keyframes width_10 {
    from {width: 0;}
    to {width: 10%;}
}

@keyframes width_20 {
    from {width: 0;}
    to {width: 20%;}
}

@keyframes width_30 {
    from {width: 0;}
    to {width: 30%;}
}

@keyframes width_40 {
    from {width: 0;}
    to {width: 40%;}
}

@keyframes width_50 {
    from {width: 0;}
    to {width: 50%;}
}

@keyframes width_60 {
    from {width: 0;}
    to {width: 60%;}
}

@keyframes width_70 {
    from {width: 0;}
    to {width: 70%;}
}

@keyframes width_80 {
    from {width: 0;}
    to {width: 80%;}
}

@keyframes width_90 {
    from {width: 0;}
    to {width: 90%;}
}

@keyframes width_100 {
    from {width: 0;}
    to {width: 100%;}
}
